.col-md-3{
    border:1px solid black;
}
.col-md-2{
    border:1px solid blue;
}
.col-md-4{
    border:1px solid red;
}
.col-md-9{
    border:1px solid darkmagenta;
}
.col{
    border:1px solid green;
}
img{
    margin:auto;
}
.container{
    background-color:lightblue;
}
.jumbotron{
    background-color:cadetblue;
}
.m-7{
    background-color:aquamarine;
}
